
@{
    ViewBag.Title = "Home Page";
}

<style>
    .banner{
        height:380px;
        width:100%;
    }
    .spliter{
        background-color:#ffd800;width:20%;height:4px;box-shadow: 0px 8px 12px #333;margin-bottom: 25px;
    }
    .col-lg-4 {
    width: 31.333333%;
}
    #dvEnquiry input[type=text] {
    display: block;
    width: 100%;
    height: 53px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.428571429;
    color: #484646;
    vertical-align: middle;
    background-color: #ffffff;
    border-bottom: 3px solid #1b53c3;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    /* border: 1px solid #fff; */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


</style>
@*<div class="banner">

</div>*@

<div class="col-lg-12" style="margin-top: 165px;">
    <div class="col-lg-6">
        <div style="text-align:center;color:#333;min-height:196px">
           
            <div class="col-lg-8" style="text-align:left;color:#646363">
                <h1 style="color:#333;font-size:30px">Fat reduction & Body Shaping</h1>
                <p>
                    Double Chin and Facial Tightening / Tummy Fat and Love handles / Arm Fat / Thigh Fat / Bra Fat / Breast Firming and Tightening / Male Chest Fat ..
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/img/fat.png" style="height:195px;overflow: hidden;" class="zoom">
            </div>
            
        </div>
        <div class="col-lg-12">
            <a style="padding:5px;border:1px solid #fc0011;color:#fc0011;border-radius:3px;float:right;text-decoration:none;">Read More</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div style="text-align:center;color:#333;min-height:196px">
            <div class="col-lg-4" style="overflow:hidden">
                <img src="~/Content/img/Tambe_Swagata.jpg" style="height:195px;overflow: hidden;margin: 0 auto;" class="zoom">
            </div>
            <div class="col-lg-8" style="text-align:left;color:#646363">
                <h1 style="color:#333;font-size:30px">DR .SWAGATA TAMBE <small>M.B.B.S</small></h1>
                <p>
                    Dr. Swagata Tambe is a Dermatologist in Ghatkopar East. Book appointments Online, View Fees, User Feedbacks for Dr. Swagata Tambe | Practo.
                </p>
            </div>
          
        </div>
        <div class="col-lg-12">
            <a style="padding:5px;border:1px solid #fc0011;color:#fc0011;border-radius:3px;float:right;text-decoration:none;">Read More</a>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-lg-12" style="text-align:center;color:#fff;margin-top:20px;">
    <div class="col-lg-4"  style="background-color:#1f6597;border-right:1px solid #fff;padding:12px">
        <h4>Contact</h4>
        <center>
            <div class="spliter"></div>
        </center>
        <p>
            +91 8087958141
        </p>
    </div>
    <div class="col-lg-4"  style="background-color:#1f6597;padding:12px">
        <h4>DERMATOLOGY SPEACIALIST</h4>
        <center>
            <div class="spliter"></div>
        </center>

        <p>
            Dr. Swagata Tambe
        </p>
    </div>
    <div class="col-lg-4"  style="background-color:#1f6597;border-left:1px solid #fff;padding:12px">
        <h4>Opening Hours</h4>
        <center>
            <div class="spliter"></div>
        </center>

        <p>
          MON - SUN : 10:00 AM - 7:00 PM
        </p>
        
    </div>
</div>
<div style="clear:both"></div>
<div class="col-lg-12" style="margin-top: 35px;">
    <div class="col-lg-6">
        <div style="text-align:center;color:#333;min-height:392px">

           

        </div>
        <div class="col-lg-12">
            <a style="padding:5px;border:1px solid #148bb3;color:#148bb3;border-radius:3px;float:right">Read More</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div style="text-align:center;color:#333;min-height:196px">
            <div class="col-lg-4" style="overflow:hidden">
                <img src="~/Content/img/Tambe_Swagata.jpg" style="height:195px" class="zoom">
                <h3 style="color:#333;font-size:30px">Dr. Doctor1</h3>
            </div>
            <div class="col-lg-8" style="text-align:left;color:#646363">
                
                <p>
                    Dr. Swagata Tambe is a Dermatologist in Ghatkopar East. Book appointments Online, View Fees, User Feedbacks for Dr. Swagata Tambe | Practo.
                </p>
            </div>

        </div>
        <div class="col-lg-12">
            <a style="padding:5px;border:1px solid #148bb3;color:#148bb3;border-radius:3px;float:right">Read More</a>
        </div>
        <div style="clear:both;"></div>
        <div style="text-align:center;color:#333;min-height:196px">
            <div class="col-lg-4" style="overflow:hidden">
                <img src="~/Content/img/Tambe_Swagata.jpg" style="height:195px" class="zoom">
                <h3 style="color:#333;font-size:30px">Dr. Doctor1</h3>
            </div>
            <div class="col-lg-8" style="text-align:left;color:#646363">

                <p>
                    Dr. Swagata Tambe is a Dermatologist in Ghatkopar East. Book appointments Online, View Fees, User Feedbacks for Dr. Swagata Tambe | Practo.
                </p>
            </div>

        </div>
        <div class="col-lg-12">
            <a style="padding:5px;border:1px solid #148bb3;color:#148bb3;border-radius:3px;float:right">Read More</a>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div class="col-lg-12" style="padding-top: 60px;padding-bottom: 60px;background-color: #e1e8f0;">
    <div >
        <div class="section-title">
            <h2 style="position: relative;
    
    color: #e9490b;
    font-weight: 400;
    margin-bottom: 11px;
    letter-spacing: 0.2em;">Best Services</h2>
            <p style="font-size: 1.375rem;
    color: #444444;
    font-weight: 600;
    margin-bottom: 0;">Explore Our Best Dermatology Services</p>
        </div>
        <div class="spliter"></div>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div style="box-shadow: 0px 0px 12px 1px rgb(210, 214, 220);overflow:hidden">
                    <div class="zoom">
                        <img src="https://www.webfulcreations.com/html-templates/dermatology/assets/images/help/services/service-img-1.png" alt="Service Images">
                        <div>
                            <a href="#" class="button primary">Know More</a>
                        </div>
                    </div>
                    <div>
                        <h6><a href="#">Skin Care Management</a></h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                    </div>
                </div><!-- Service Box /-->
            </div>
            <div class="col-lg-4">
                <div style="box-shadow: 0px 0px 12px 1px rgb(210, 214, 220);overflow:hidden">
                    <div class="zoom">
                        <img src="https://www.webfulcreations.com/html-templates/dermatology/assets/images/help/services/service-img-1.png" alt="Service Images">
                        <div>
                            <a href="#" class="button primary">Know More</a>
                        </div>
                    </div>
                    <div>
                        <h6><a href="#">Skin Care Management</a></h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                    </div>
                </div><!-- Service Box /-->
            </div>
            <div class="col-lg-4">
                <div style="box-shadow: 0px 0px 12px 1px rgb(210, 214, 220);overflow:hidden">
                    <div class="zoom">
                        <img src="https://www.webfulcreations.com/html-templates/dermatology/assets/images/help/services/service-img-1.png" alt="Service Images">
                        <div>
                            <a href="#" class="button primary">Know More</a>
                        </div>
                    </div>
                    <div>
                        <h6><a href="#">Skin Care Management</a></h6>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                    </div>
                </div><!-- Service Box /-->
            </div>
        </div>
            
    </div>
</div>
<div style="clear:both"></div>
<div class="col-lg-12" style="color:#333;min-height:350px" id="dvEnquiry">
        <h2 style="color:#333">Enquiry</h2>
        <div class="spliter"></div>
        <br />
        <br />
        <center>
            <div class="col-lg-6" style="justify-content: center;align-items: center;">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Name", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBox("Name", "", new { @class = "form-control", secure = "required,Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Email", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBox("Email", "", new { @class = "form-control", secure = "required,email" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Contact Number", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBox("ContactNumber", "", new { @class = "form-control", secure = "required,Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Query/Message", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBox("Message", "", new { @class = "form-control", secure = "required,Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Send" />
                        </div>
                    </div>
                }
            </div>
           
        </center>
</div>
<div style="clear:both"></div>
<div class="col-lg-12" style="color:#333;min-height:550px">
   
    <div class="col-lg-3" style="text-align:center">
        <h2 style="color:#333">Addess</h2>
        Innovation Skin Clinic<br />

        23, Happy Home Society,<br />
        Opp. Gurukrupa Hotel, Tilak Road,<br />
        Ghatkopar East, Mumbai-400077 .
    </div>
    <div class="col-lg-7" style="width: 75%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.6475039370507!2d72.9035926143768!3d19.079229756830166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c62ed8c83faf%3A0xd50c069483d826f1!2sINNOVATION+SKIN+CLINIC+AND+LASER+CENTRE!5e0!3m2!1sen!2sin!4v1552579116175"  frameborder="0" style="border:0;width:100%;height:100%" allowfullscreen></iframe>
    </div>
</div>